.is-red {
    background: rgb(230, 30, 50);
}

.is-orange {
    background: rgb(225, 51, 0);
}

.is-purple {
    background: rgb(141, 103, 171);
}

.is-light-orange {
    background: rgb(186, 93, 7);
}

.is-green-blue {
    background: rgb(39, 133, 106);
}

.is-dark-blue {
    background: rgb(30, 50, 100);
}

.is-light-blue {
    background: rgb(80, 155, 245);
}

.is-blue {
    background: rgb(13, 115, 236);
}

.is-green {
    background: rgb(20, 138, 8);
}

.is-gray{
    background: rgb(119, 119, 119);
}

.is-dark-purple {
    background: rgb(175, 40, 150);
}

.is-light-brown {
    background: rgb(144, 114, 85);
}

.is-red-wine {
    background: rgb(140, 25, 50);
}