.favorite-header-container {
    block-size: 21.25rem;
    inline-size: 100%;
    background-color: rgb(80, 56, 160);
    margin-block-start: -4.5rem;
}

.favorite-header {
    inline-size: 100%;
    block-size: 100%;    
    background: linear-gradient(transparent 0,rgba(0,0,0,.5) 100%);
    display: flex;
    align-items: flex-end;
}

.title-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem;
    block-size: 100%;
}

.favorite-header-title {
    display: flex;
    block-size: 100%;
    flex-direction: column;
    justify-content: flex-end;
    
}

.favorite-header-title h1{
    font-size: 4.5rem;
    color: var(--white);
    margin: 0;
    line-height: 4.5rem;
}

.favorite-header-title h2{
    font-size: 0.75rem;
    color: var(--white);
    margin: 0;
   font-weight: 700;
}

.favorite-header-title span {
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: normal;
    line-height: 1rem;
    text-transform: none;
}

.favorite-header-image {
    display: flex;
    align-items: flex-end;
    block-size: 100%;
}
