.playlistA {
    inline-size: 13em;
    border-radius: 0.25rem;
    padding: 1rem;
    background: var(--gray40);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
   
}

.playlistA:hover, .playlistA:focus-within {
    cursor: pointer;
    background: var(--gray30);
    transition: 0.3s background;
}

.playlistA-cover img {
    vertical-align: middle;
    inline-size: 100%;
    block-size: auto;
}

.playlistA-cover {
    border-radius: 0.75rem;
    position: relative;
    overflow: hidden;
    margin-block-end: 1rem;
}

.playlistA:hover .playlistA-cover button,
.playlistA:focus-within  .playlistA-cover button {
    opacity: 1;
    transform: translateY(0);
}

.playlistA button {
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
    opacity: 0;
    transform: translateY(.5rem);
    will-change: opacity, transform;
    transition: .3s opacity, .3s transform;
}

.playlistA-title {
    font: var(--baseFontBold);
    color: var(--white);
    margin: 0;
}

.playlistA-description {
    font: var(--baseFontBold);
    margin: 0;
}