.search-title {
    color: var(--white);
    font: var(--headline2);
}

.most-listened {
    overflow: auto;
}

.most-listened-list {
    display: flex;
    gap: 1.5rem;
    /* overflow: auto; */
}

.most-listened-item {
    position: relative;
    block-size: 13.75rem;
    inline-size: 25rem;
    border-radius: .5rem;
    overflow: hidden;
}

.most-listened-item-title {
    color: var(--white);
    font-size: 2.5rem;
    font-family: var(--baseFontFamily);
    position: absolute;
    padding: 1rem;
    margin: 0;
    line-height: 1.3em;
}

.search-item-box {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 100%;
}

.search-item-box > img {
    transform: rotate(25deg) translateX(1.5rem);
}

.explore-list {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.explore-item-title {
    color: var(--white);
    font-size: 1.5rem;
    font-family: var(--baseFontFamily);
    position: absolute;
    margin: 1rem;
    line-height: 1.3em;
}

.explore-list-item {
    position: relative;
    aspect-ratio: 1/1;
    min-inline-size: 11.25rem;
    overflow: hidden;
    border-radius: 0.5rem;
    flex-shrink: 0;
}